100_VS2008_Check5TVEncoderChannel/Check5TVEncoderChannel_07/Check5TVEncoderChannel/temp/noc_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetGroupList">
        <s:complexType />
      </s:element>
      <s:element name="GetGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceStatusByGroupID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceStatusByGroupIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceStatusByGroupIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceFailStatusByGroupID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceFailStatusByGroupIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceFailStatusByGroupIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeepaLive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeepaLiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KeepaLiveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelEnableList">
        <s:complexType />
      </s:element>
      <s:element name="GetChannelEnableListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelEnableListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannnelList">
        <s:complexType />
      </s:element>
      <s:element name="GetChannnelListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannnelListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChannel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChannelName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChannelUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EnableFlag" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChannelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddChannelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGlobalChannelEnableList">
        <s:complexType />
      </s:element>
      <s:element name="GetGlobalChannelEnableListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGlobalChannelEnableListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGlobalChannnelList">
        <s:complexType />
      </s:element>
      <s:element name="GetGlobalChannnelListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGlobalChannnelListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGlobalChannel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChannelName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChannelUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EnableFlag" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGlobalChannelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddGlobalChannelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableGlobalChannel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableGlobalChannelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisableGlobalChannelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableGlobalChannel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableGlobalChannelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnableGlobalChannelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceStatusByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceStatusByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceStatusByIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetServiceStatusByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Current_Value" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="Service_Memo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetServiceStatusByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetServiceStatusByIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetServiceDetailByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Service_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DetailXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetServiceDetailByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetServiceDetailByIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FunctionTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intParam" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FunctionTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FunctionTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGroupListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupList" />
  </wsdl:message>
  <wsdl:message name="GetGroupListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceStatusByGroupIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceStatusByGroupID" />
  </wsdl:message>
  <wsdl:message name="GetServiceStatusByGroupIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceStatusByGroupIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceFailStatusByGroupIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceFailStatusByGroupID" />
  </wsdl:message>
  <wsdl:message name="GetServiceFailStatusByGroupIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceFailStatusByGroupIDResponse" />
  </wsdl:message>
  <wsdl:message name="KeepaLiveSoapIn">
    <wsdl:part name="parameters" element="tns:KeepaLive" />
  </wsdl:message>
  <wsdl:message name="KeepaLiveSoapOut">
    <wsdl:part name="parameters" element="tns:KeepaLiveResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelEnableListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelEnableList" />
  </wsdl:message>
  <wsdl:message name="GetChannelEnableListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelEnableListResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannnelListSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannnelList" />
  </wsdl:message>
  <wsdl:message name="GetChannnelListSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannnelListResponse" />
  </wsdl:message>
  <wsdl:message name="AddChannelSoapIn">
    <wsdl:part name="parameters" element="tns:AddChannel" />
  </wsdl:message>
  <wsdl:message name="AddChannelSoapOut">
    <wsdl:part name="parameters" element="tns:AddChannelResponse" />
  </wsdl:message>
  <wsdl:message name="GetGlobalChannelEnableListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGlobalChannelEnableList" />
  </wsdl:message>
  <wsdl:message name="GetGlobalChannelEnableListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGlobalChannelEnableListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGlobalChannnelListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGlobalChannnelList" />
  </wsdl:message>
  <wsdl:message name="GetGlobalChannnelListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGlobalChannnelListResponse" />
  </wsdl:message>
  <wsdl:message name="AddGlobalChannelSoapIn">
    <wsdl:part name="parameters" element="tns:AddGlobalChannel" />
  </wsdl:message>
  <wsdl:message name="AddGlobalChannelSoapOut">
    <wsdl:part name="parameters" element="tns:AddGlobalChannelResponse" />
  </wsdl:message>
  <wsdl:message name="DisableGlobalChannelSoapIn">
    <wsdl:part name="parameters" element="tns:DisableGlobalChannel" />
  </wsdl:message>
  <wsdl:message name="DisableGlobalChannelSoapOut">
    <wsdl:part name="parameters" element="tns:DisableGlobalChannelResponse" />
  </wsdl:message>
  <wsdl:message name="EnableGlobalChannelSoapIn">
    <wsdl:part name="parameters" element="tns:EnableGlobalChannel" />
  </wsdl:message>
  <wsdl:message name="EnableGlobalChannelSoapOut">
    <wsdl:part name="parameters" element="tns:EnableGlobalChannelResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceStatusByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceStatusByID" />
  </wsdl:message>
  <wsdl:message name="GetServiceStatusByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceStatusByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SetServiceStatusByIDSoapIn">
    <wsdl:part name="parameters" element="tns:SetServiceStatusByID" />
  </wsdl:message>
  <wsdl:message name="SetServiceStatusByIDSoapOut">
    <wsdl:part name="parameters" element="tns:SetServiceStatusByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SetServiceDetailByIDSoapIn">
    <wsdl:part name="parameters" element="tns:SetServiceDetailByID" />
  </wsdl:message>
  <wsdl:message name="SetServiceDetailByIDSoapOut">
    <wsdl:part name="parameters" element="tns:SetServiceDetailByIDResponse" />
  </wsdl:message>
  <wsdl:message name="FunctionTestSoapIn">
    <wsdl:part name="parameters" element="tns:FunctionTest" />
  </wsdl:message>
  <wsdl:message name="FunctionTestSoapOut">
    <wsdl:part name="parameters" element="tns:FunctionTestResponse" />
  </wsdl:message>
  <wsdl:portType name="noc_ServiceSoap">
    <wsdl:operation name="GetGroupList">
      <wsdl:input message="tns:GetGroupListSoapIn" />
      <wsdl:output message="tns:GetGroupListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatusByGroupID">
      <wsdl:input message="tns:GetServiceStatusByGroupIDSoapIn" />
      <wsdl:output message="tns:GetServiceStatusByGroupIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceFailStatusByGroupID">
      <wsdl:input message="tns:GetServiceFailStatusByGroupIDSoapIn" />
      <wsdl:output message="tns:GetServiceFailStatusByGroupIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KeepaLive">
      <wsdl:input message="tns:KeepaLiveSoapIn" />
      <wsdl:output message="tns:KeepaLiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelEnableList">
      <wsdl:input message="tns:GetChannelEnableListSoapIn" />
      <wsdl:output message="tns:GetChannelEnableListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannnelList">
      <wsdl:input message="tns:GetChannnelListSoapIn" />
      <wsdl:output message="tns:GetChannnelListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddChannel">
      <wsdl:input message="tns:AddChannelSoapIn" />
      <wsdl:output message="tns:AddChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalChannelEnableList">
      <wsdl:input message="tns:GetGlobalChannelEnableListSoapIn" />
      <wsdl:output message="tns:GetGlobalChannelEnableListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalChannnelList">
      <wsdl:input message="tns:GetGlobalChannnelListSoapIn" />
      <wsdl:output message="tns:GetGlobalChannnelListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGlobalChannel">
      <wsdl:input message="tns:AddGlobalChannelSoapIn" />
      <wsdl:output message="tns:AddGlobalChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableGlobalChannel">
      <wsdl:input message="tns:DisableGlobalChannelSoapIn" />
      <wsdl:output message="tns:DisableGlobalChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableGlobalChannel">
      <wsdl:input message="tns:EnableGlobalChannelSoapIn" />
      <wsdl:output message="tns:EnableGlobalChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatusByID">
      <wsdl:input message="tns:GetServiceStatusByIDSoapIn" />
      <wsdl:output message="tns:GetServiceStatusByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetServiceStatusByID">
      <wsdl:input message="tns:SetServiceStatusByIDSoapIn" />
      <wsdl:output message="tns:SetServiceStatusByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetServiceDetailByID">
      <wsdl:input message="tns:SetServiceDetailByIDSoapIn" />
      <wsdl:output message="tns:SetServiceDetailByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FunctionTest">
      <wsdl:input message="tns:FunctionTestSoapIn" />
      <wsdl:output message="tns:FunctionTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="noc_ServiceSoap" type="tns:noc_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGroupList">
      <soap:operation soapAction="http://tempuri.org/GetGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatusByGroupID">
      <soap:operation soapAction="http://tempuri.org/GetServiceStatusByGroupID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceFailStatusByGroupID">
      <soap:operation soapAction="http://tempuri.org/GetServiceFailStatusByGroupID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepaLive">
      <soap:operation soapAction="http://tempuri.org/KeepaLive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelEnableList">
      <soap:operation soapAction="http://tempuri.org/GetChannelEnableList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannnelList">
      <soap:operation soapAction="http://tempuri.org/GetChannnelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChannel">
      <soap:operation soapAction="http://tempuri.org/AddChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalChannelEnableList">
      <soap:operation soapAction="http://tempuri.org/GetGlobalChannelEnableList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalChannnelList">
      <soap:operation soapAction="http://tempuri.org/GetGlobalChannnelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGlobalChannel">
      <soap:operation soapAction="http://tempuri.org/AddGlobalChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableGlobalChannel">
      <soap:operation soapAction="http://tempuri.org/DisableGlobalChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableGlobalChannel">
      <soap:operation soapAction="http://tempuri.org/EnableGlobalChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatusByID">
      <soap:operation soapAction="http://tempuri.org/GetServiceStatusByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceStatusByID">
      <soap:operation soapAction="http://tempuri.org/SetServiceStatusByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceDetailByID">
      <soap:operation soapAction="http://tempuri.org/SetServiceDetailByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FunctionTest">
      <soap:operation soapAction="http://tempuri.org/FunctionTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="noc_ServiceSoap12" type="tns:noc_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGroupList">
      <soap12:operation soapAction="http://tempuri.org/GetGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatusByGroupID">
      <soap12:operation soapAction="http://tempuri.org/GetServiceStatusByGroupID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceFailStatusByGroupID">
      <soap12:operation soapAction="http://tempuri.org/GetServiceFailStatusByGroupID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepaLive">
      <soap12:operation soapAction="http://tempuri.org/KeepaLive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelEnableList">
      <soap12:operation soapAction="http://tempuri.org/GetChannelEnableList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannnelList">
      <soap12:operation soapAction="http://tempuri.org/GetChannnelList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChannel">
      <soap12:operation soapAction="http://tempuri.org/AddChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalChannelEnableList">
      <soap12:operation soapAction="http://tempuri.org/GetGlobalChannelEnableList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalChannnelList">
      <soap12:operation soapAction="http://tempuri.org/GetGlobalChannnelList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGlobalChannel">
      <soap12:operation soapAction="http://tempuri.org/AddGlobalChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableGlobalChannel">
      <soap12:operation soapAction="http://tempuri.org/DisableGlobalChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableGlobalChannel">
      <soap12:operation soapAction="http://tempuri.org/EnableGlobalChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatusByID">
      <soap12:operation soapAction="http://tempuri.org/GetServiceStatusByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceStatusByID">
      <soap12:operation soapAction="http://tempuri.org/SetServiceStatusByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceDetailByID">
      <soap12:operation soapAction="http://tempuri.org/SetServiceDetailByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FunctionTest">
      <soap12:operation soapAction="http://tempuri.org/FunctionTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="noc_Service">
    <wsdl:port name="noc_ServiceSoap" binding="tns:noc_ServiceSoap">
      <soap:address location="http://noc.tw-airnet.net/monitor/noc_service.asmx" />
    </wsdl:port>
    <wsdl:port name="noc_ServiceSoap12" binding="tns:noc_ServiceSoap12">
      <soap12:address location="http://noc.tw-airnet.net/monitor/noc_service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>